
<nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">

        <a routerLink='/' class="text-decoration-none "><h3 class="text-white text-center">
            {{ title }}!
          </h3>
        </a>


    <button class="navbar-toggler" type="button"
            (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse"
         [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ml-3">
          <a class="nav-link" routerLink='/auth/createuser'>
              <button  class="btn btn-danger text-white py-0 ">New User</button>
            </a>
        </li>
        <li class="nav-item ml-3">
            <a class="nav-link"routerLink='/' >
              <button  class="btn btn-secondary text-white py-0">All Users</button></a>
          </li>


        <li class="nav-item ml-3">
          <a class="nav-link"routerLink='/' >
            <button  class="btn btn-success text-white py-0">All Products</button></a>
        </li>

      </ul>

      <ul class=" navbar-nav mr-5">
      <li class="nav-item ml-3">

          <h5 class="text-white">Hi {{firstname}}</h5>
        </li>

        <li class="nav-item ml-3">
            <div *ngIf='!userIsAuth'>
      <a routerLink='/auth/signin' class="text-decoration-none  ">
        <h4 class="text-white ml-3">Login</h4></a>
            </div>
        <div *ngIf='userIsAuth'>
        <button routerLink='/auth/signin' class="btn btn-outline-secondary py-0" (click)="onLogout()">
          <b class="text-white">Logout</b> </button>
      </div>


      </li>

      </ul>

    </div>
  </nav>
