

    <div class="container col-lg-10 pt-2 mt-5">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef><h6> FirstName </h6></th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef><h6>LastName </h6> </th>
          <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef><h6> Email </h6></th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="userRole">
          <th mat-header-cell *matHeaderCellDef><h6> User Role </h6></th>
          <td mat-cell *matCellDef="let element"> {{element.isadmin?"Administrator":"User" }} </td>
        </ng-container>

        <ng-container matColumnDef="userId">
          <th mat-header-cell *matHeaderCellDef><h6 class="float-right mr-5"> Action </h6></th>
          <td mat-cell *matCellDef="let element" >

            <div class="float-right d-inline-block" (click)="getMessage()">
              <a   [ngClass]="{'disabled btn-outline-secondary ' : !isadmin,
                              'btn-primary' : isadmin,
                              'nav-link mr-3 py-0 btn d-inline' : true }"
              [routerLink]="['/auth/edituser/', element.userId]" >Edit</a>

              <a [ngClass]="{'disabled btn-outline-secondary text-secondary' : !isadmin,
              'btn-danger text-white' : isadmin,
              'nav-link py-0 btn d-inline' : true }"
              (click)="onDelete(element.userId)" >Delete </a>
            </div> </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>





</div>
